@import "mocha.css";

* {
    background-color: transparent;
    color: @text;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: Iosevka Nerd Font;
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
}

tooltip {
    background-color: @crust;
    font-family: Ubuntu Mono Nerd Font;
    padding: 2px;
}

#workspaces {
    background: @surface0;
    border-radius: 10px;
    margin: 3px 5px 3px 0;
    padding: 4px 4px 0;
}

#window {
    opacity: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}

window#waybar.fullscreen #window {
    opacity: 1;
    background: @surface1;
    border-radius: 10px;
    font-size: 16px;
    padding: 2px 12px;
    margin: 3px 5px 3px 0;
    color: @red;
}

window#waybar.fullscreen #window * {
    color: @red;
}

#workspaces button {
    all: initial;
    background-color: @surface0;
    padding: 0 8px;
    margin: 0 2px;
}

#workspaces button label {
    background-color: @surface0;
    color: @overlay0;
    font-size: 16px;
}

#workspaces button.active label {
    background-color: @surface0;
    color: @lavender;
    font-weight: 900;
}

#workspaces button.urgent,
#workspaces button.urgent label {
    background-color: @yellow;
    color: @crust;
}

#clock {
    color: @maroon;
    background: @surface0;
    border-radius: 10px;
    margin: 3px 0;
    padding: 4px 14px 0;
    font-weight: bold;
}

#custom-arch {
    min-width: 20px;
    padding: 0 14px;
    margin-right: 5px;
    font-size: 17px;
    color: @blue;
}

#cpu,
#memory {
    background: @surface0;
    border-radius: 10px;
    margin: 3px 5px 3px 0;
    padding: 2px 12px;
}

#cpu {
    color: @green;
}

#memory {
    color: @yellow;
}

#battery {
    color: @lavender;
    background: @surface0;
    border-radius: 10px;
    margin: 3px 5px 3px 0;
    padding: 2px 14px;
}

#custom-vpn,
#custom-power,
#language,
#network,
#pulseaudio {
    background: @surface0;
    border-radius: 10px;
    margin: 3px 5px 3px 0;
    font-size: 18px;
    color: @lavender;
}

#pulseaudio {
    padding: 2px 14px;
}

#network {
    padding: 0 16px 0 10px;
}

#custom-vpn {
    padding: 0 16px 0 14px;
    color: @red;
}

#custom-vpn.running {
    color: @green;
}

#language {
    padding: 2px 14px;
    font-size: 16px;
    color: @peach;
}

#custom-power {
    padding: 2px 14px 2px 11px;
}

#custom-power.performance {
    color: @red;
}

#custom-power.balanced {
    color: @yellow;
}

#cpu:hover,
#memory:hover,
#clock:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover,
#custom-vpn:hover,
#language:hover,
#custom-power:hover {
    background: @surface1;
}
